body {
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #ffcc00;
    /* Warna kuning cerah untuk judul */
    text-shadow: 1px 1px 5px rgba(255, 204, 0, 0.7);
    /* Menambahkan bayangan pada teks */
}

.list-group-item {
    color: blue !important;
}

.card {
    margin-bottom: 20px;
    background-color: #333;
    /* Warna latar belakang kartu */
    border: 1px solid #444;
    /* Warna border kartu */
}

.card-title {
    color: #ffcc00;
    /* Warna kuning cerah untuk judul kartu */
}

.card-text {
    color: #fff;
    /* Warna putih untuk teks dalam kartu */
}

.btn-primary {
    background-color: #007bff;
    /* Warna tombol */
    border-color: #007bff;
    /* Warna border tombol */
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Warna tombol saat hover */
    border-color: #0056b3;
    /* Warna border tombol saat hover */
}

footer {
    background-color: #222;
    /* Mengubah warna latar belakang footer */
    color: #fff;
    /* Mengubah warna teks footer menjadi putih */
    padding: 20px 0;
    /* Menambahkan padding pada footer */
}

#profile-pic {
    width: 150px; /* Atur lebar gambar */
    height: 150px; /* Atur tinggi gambar */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
    margin-top: 20px; /* Jarak atas dari teks */
    border: 3px solid #ffcc00; /* Border kuning di sekitar gambar */
}

.card-img-top {
    width: 100%; /* Mengatur lebar gambar agar sesuai dengan lebar kartu */
    height: 300px; /* Mengatur tinggi gambar agar konsisten */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
}

html {
    scroll-behavior: smooth; /* Mengaktifkan efek scrolling halus */
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.timeline-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 50px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: #eee;
}

.timeline-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 11px; /* Adjusted this value to center the dot on the line */
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
    z-index: 1;
}

.timeline-content {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    z-index: 2;
}

.timeline-item.left .timeline-content,
.timeline-item.right .timeline-content {
    left: 0;
    right: 0;
}

.timeline-content h2 {
    margin-top: 0;
}

.timeline-date {
    margin-bottom: 10px;
}